<div id="<%= dom_id user %>" class="row">
  <div class="img">
    <%= image_tag user.photo, alt: "User's profile photo", height: 200, width: 150 %>
  </div>
  <%= link_to user_path(user), class:"info" do %>
      <h1><%= user.name %></h1>
      <p>
        <strong>Number Of Posts:</strong>
        <%= user.postsCounter %>
      </p>
  <% end %>
</div>
