<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

   <%= image_tag user.photo %>
  
  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Postcounter:</strong>
    <%= user.postsCounter %>
  </p>

</div>
