<div class="container">
  <%= render @user %>
  <div class="bio">
    <strong>Bio</strong>
    <%= @user.bio %>
  </div>
  <div class="post_container">
    <% @user.recentposts.each do |post| %>
      <div class="post_row">
        <p><%= link_to "#{post.title}", user_post_path(@user.id, post.id) %></p>
        <%= render post %>
      </div>
    <% end %>
  </div>
  <button >
    <%= link_to "See all posts", user_posts_path(@user), class: "all-posts" %>
  </button>
  <button type="button">
    <%= link_to "Create a post", new_user_post_path(@user), class: "create-post" %>
  </button>
</div>
