<div class="container">

<div class="body_container">
<div class="header">

  <h1>
<%= @post.title + ' by ' + @user.name %>
  </h1>

<div class="post_info">
  <%= form_with model: @like, url: user_post_likes_path(user_id: @post.author.id, post_id: @post.id), local: true do |form| %>
    <%= form.submit "Add a like", class: "add-like" %>
  <% end %>
  <button type="button"><%= link_to "Add a comment", new_user_post_comment_path(user_id: @post.author.id, post_id: @post.id), class: "comment-link" %></button>
</div>

  </div>
  <p>    <%= @post.text %>
</p>
</div>
      <div class="comment_container">
    <%= render @post.comments %>
  </div>

</div>